h2 {{title}}
.row
  .col-xs-3
    form(novalidate, name='webcamsForm', role='form')
      .form-group
        label(for='zip') Zip Code
        input.form-control#zip(name='zip', type='text', ng-model='zip', ng-pattern='/^[0-9]{5}$/', required, autofocus)
      button.btn.btn-success(type='submit', ng-show='webcamsForm.$valid', ng-click='getWebcams()') get webcamz
.row(ng-show='webcams')
  .col-xs-12
    .panel.panel-default
      .panel-body
        .webcam(ng-repeat='webcam in webcams')
          img(ng-src='{{webcam.WIDGETCURRENTIMAGEURL}}')
          p {{webcam.neighborhood}}


